# maven ignore
target/
*.versionsBackup
.factorypath

# eclipse ignore
.settings/
.project
.classpath
*rebel.xml

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp



